# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Logs
logs
*.log
*.log.*

# Dependency directories
jspm_packages/

# Build output
dist/
build/
.out/
.cache/
.tmp/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store

# OS files
Thumbs.db
.DS_Store
ehthumbs.db




